# Vagrant related files

.vagrant/
Vagrantfile
hosts

# Provisioner

playbooks/*
provisioner/*
config/unicorn-development.rb

# Temp files/folders

tmp/cache/*
tmp/miniprofiler/*
tmp/pids/*

# Logs

log/*
