# Vagrant related files
/.vagrant/
/hosts

# Provisioner
/config/unicorn-development.rb

# Temp files/folders
/tmp/cache/*
/tmp/miniprofiler/*
/tmp/pids/*
/tmp/screens/*

# Logs
/log/*.log

# Bundler config
/.bundle

# Databases
/db/*.sqlite3
/db/*.sqlite3-journal

# Assets
.sass*
app/assets/stylesheets/.sass*

# AWS credentials
config/aws*
