# Vagrant related files

/.vagrant/
/Vagrantfile
/hosts

# Provisioner

/playbooks/*
/provisioner/*
/config/unicorn-development.rb

# Temp files/folders

/tmp/cache/*
/tmp/miniprofiler/*
/tmp/pids/*

# Logs

/log/*.log

# Bundler config

/.bundle

# Databases

/db/*.sqlite3
/db/*.sqlite3-journal

# External

config.codekit

# Assets

app/assets/stylesheets/.sass*
config.codekit
