// @each $font-face in font-1, font-2, ... {
// @font-face {
// font-family: $font-face; font-style: normal; font-weight: normal;
// src: url('/path/to/font/#{$font-face}.eot');
// src: url('/path/to/font/#{$font-face}.eot?') format('eot'),
// url('/path/to/font/#{$font-face}.woff') format('woff'),
// url('/path/to/font/#{$font-face}.ttf') format('truetype');
// }
// }

@font-face {
    font-family: 'bold';
    src: url('fonts/bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'light';
    src: url('fonts/light.otf');
    font-weight: normal;
    font-style: normal;
}
