.bit {
  &-bookmark {
    padding: $global-spacing 0;

    &:nth-child(odd) {
      background-color: $container-background-color;
    }

    &-image {
      position: relative;
      text-align: center;

      img { border-radius: 250px; }

      a {
        position: absolute;
        // display: none;
        font-size: 16px;
        height: 20px;
        left: 50%;
        text-align: center;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 20px;
      }

      &:hover {
        a {
          display: block;
        }
      }
    }

    &-url {
      font-size: 18px;
      margin: 0;
    }

    &-view {
      text-align: center;
    }

    &-description {
      font-size: 12px;
      margin-top: $global-spacing;
    }
  }
}

