.bit {
  &-navbar {
    border-bottom: $border-default-size solid $border-default-color;
    margin-bottom: $global-spacing;
    padding: 10px 0;

    .input-group {
      padding: 0 $global-spacing;

      span {
        background-color: #fff;
        border: none;
        font-size: 18px;
        padding: 0 $global-spacing 0 0;
      }

      input {
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        padding: ( $global-spacing + 1px ) 0;
      }
    }

    .user {
      &-avatar {
        img {
          border-radius: 250px;
          height: 50px;
          width: 50px;
          margin: 1px auto;
        }
      }
    }

    &-user {
      align-items: center;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        &:nth-child(2) {
          flex: 1;
          padding: $global-spacing;
        }

        &.dropdown {
          border: $border-default-size solid $border-default-color;
          padding: 2px 4px;
          border-radius: 250px;
        }
      }
    }
  }

  &-brand {
    img {
      margin-top: 10px;
    }
  }
}
