.#{$auth-class}-splash {
  border-bottom: 1px solid $border-default-color;
  padding-top: 50px;
  padding-bottom: 92px;
}

.#{$auth-class}-splash img {

  @media(min-width: $screen-sm-min) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.#{$auth-class}-#{$form-class} {
  .#{$panel-class} {
    margin-top: -52px;

    .chrome & {
      margin-top: -51px;
    }
  }

  .#{$panel-class}-body {
    padding: 0;
  }
}
