$navbar-default-border: $border-default-color;
$navbar-padding-horizontal: 0;

.#{$navbar-class} {
  background-color: transparent;
  border-color: $navbar-default-border;
  margin-bottom: 0;
  padding-top: $global-padding;
  padding-bottom: $global-padding;
}

.#{$navbar-class}-brand {
  display: inline-block;
  padding-top: $navbar-padding-horizontal;
  padding-bottom: $navbar-padding-horizontal;

  img {
    width: 230px;
    color: $border-default-color;
  }
}

.#{$navbar-class}-user {
  padding-right: $global-padding;

  .user-identity {
    display: inline-block;
    font-size: 12px;
    padding-top: 17px;
    vertical-align: middle;

    p {
      margin: 0;
      font-family: 'light';
    }
  }

  .user-initals-email {
    margin-left: 10px;
    margin-right: 10px;

    span {
      border: 2px solid $brand-primary;
      border-radius: 250px;
      display: inline-block;
      font-size: 18px;
      padding: 13px 10px 8px;
    }

    .btn {
      border: 2px solid #fff;
      margin-left: -15px !important;
      padding-left: 3px;
      padding-right: 4px;
      vertical-align: bottom !important;
    }
  }

  .btn {
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 2px 3px 0 4px;
    text-align: center;

    i {
      font-size: 10px;
      height: 12px;
      vertical-align: middle;
      width: 15px;
    }
  }
}
