$navbar-default-border: $border-default-color;
$navbar-padding-horizontal: 0;

.#{$navbar-class} {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $navbar-default-border;
  border-radius: 0;
  margin-bottom: 0;
  padding-top: $global-padding;
  padding-bottom: $global-padding;
}

.#{$navbar-class}-brand {
  display: inline-block;
  padding-top: $navbar-padding-horizontal;
  padding-bottom: $navbar-padding-horizontal;

  img {
    width: 230px;
    color: $border-default-color;
  }
}

.#{$navbar-class}-user {

  .user-identity {
    margin-right: 10px;

    p {
      font-size: 11px;
      display: inline-block;
      padding-top: 11px;
    }

    span {
      border: 2px solid $brand-primary;
      border-radius: 250px;
      display: inline-block;
      font-size: 18px;
      margin-left: 10px;
      padding: 13px 10px 8px;
      vertical-align: middle;
    }

    .btn {
      border: 2px solid #fff !important;
      margin-bottom: -2px;
      margin-left: -13px;
      padding: 3px 5px 0 3px;
      vertical-align: bottom;
    }
  }


  .btn {
    color: #fff !important;
    display: inline-block;
    margin-top: $global-padding;
    padding: 2px 3px 0 4px;
    text-align: center;

    i {
      font-size: 10px;
      height: 12px;
      vertical-align: middle;
      width: 15px;
    }
  }
}
