.sub-#{$header-class} {
  border-bottom: 1px solid $border-default-color;

  > [class*="col"] {
    padding: 0 !important;
    margin: 0 !important;
  }

  h3 {
    display: inline-block;
    padding: ($global-padding - 1) 0;
  }

  .btn {
    display: inline-block;
    margin: -5px 0 0 10px;
    padding: 3px 6px 0px !important;
    position: relative;
    vertical-align: middle;

    &:hover {
      &:before {
        border-right-color: desaturate($brand-primary, 10);
      }
    }

    &:before {
      content: '';
      left: -10px;
      position: absolute;
      top: 5px;
    }

    i {
      height: 12px;
    }
  }

  .nav {
    li {
      a {
        display: block !important;
        margin: 0 !important;
        padding: ($global-padding - 5) $global-padding !important;
        text-align: left;

        span {
          font-family: 'bold';
        }

        p {
          font-size: 10px;
        }
      }

      &:hover {
        a {
          background-color: $border-default-color;
          color: #fff;
        }
      }
    }
  }
}
