$switch-width: 30px;
$switch-border-radius: 250px;
$switch-margin: 5px;
$switch-opacity: .5;

.switch {
  display: inline-block;

  input {
    display: none;
  }

  span {
    border: 1px solid $brand-danger;
    box-shadow: inset 0 0 40px $brand-danger;
    border-radius: $switch-border-radius;
    cursor: pointer;
    display: block;
    opacity: $switch-opacity;
    padding: $switch-margin $switch-width $switch-margin $switch-margin;
    transition: all .2s ease;

    .chrome & {
      box-shadow: inset 0 0 60px $brand-danger;
    }

    &:before {
      background-color: #fff;
      border-radius: $switch-border-radius;;
      content: '';
      display: block;
      height: $switch-width - ($switch-margin * 2);
      width: $switch-width - ($switch-margin * 2);
    }
  }

  & :checked + span {
    border: 1px solid $brand-primary;
    box-shadow: inset 0 0 40px $brand-primary;
    opacity: $switch-opacity;
    padding-right: $switch-margin;
    padding-left: $switch-width;

    .chrome & {
      box-shadow: inset 0 0 60px $brand-primary;
    }
  }
}
