/ User
/   = Change picture
/   = Change name and surname
/   = Change password

/ Authentication
/   = Change cookie time
/   = Change login auth method

/ Application
/   = Change theme

/ Security
/   = Delete account

.row
  .col-sm-4.col-md-3

  .col-sm-8.col-md-9

