html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

@import "elements/auth";

@import "elements/header";
@import "elements/sub_header";

@import "elements/content";

@import "elements/switch";
