/*
 *= require font-awesome
 *= require labelauty
 *= require magicsuggest
*/

$grapefruit:  #ED5565, #DA4453; // red
$bittersweet: #FC6E51, #E9573F; // orange
$sunflower:   #FFCE54, #FCBB42; // yellow
$grass:       #A0D468, #8CC152; // green
$mint:        #48CFAD, #37BC9B; // green
$aqua:        #4FC1E9, #3BAFDA; // blue
$bluejeans:   #5D9CEC, #4A89DC; // blue
$lavender:    #AC92EC, #967ADC; // purple
$pinkrose:    #EC87C0, #D770AD; // pink
$lightgray:   #F5F7FA, #E6E9ED; // white/gray
$mediumgray:  #CCD1D9, #AAB2BD; // gray
$darkgray:    #656D78, #434A54; // black

$global-spacing: 15px;

$container-background-color: nth($lightgray, 1);

$border-default-size: 1px;
$border-default-color: nth($lightgray, 1);

@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,200,300);

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

$brand-success: nth($mint, 1);
$brand-success-hover: nth($mint, 2);
$brand-primary: nth($aqua, 1);
$brand-primary-hover: nth($aqua, 2);
$brand-warning: nth($grapefruit, 1);
$brand-warning-hover: nth($grapefruit, 2);
$brand-danger: nth($bittersweet, 1);
$brand-danger-hover: nth($bittersweet, 2);
$brand-info: nth($lavender, 1);
$brand-info-hover: nth($lavender, 2);

@import "bootstrap";

@import "grid/*";
@import "elements/*";
@import "style/*";

html {}

.application {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway";
}

header {

}

main.content {
  flex: 1;
}

footer {
  border-top: $border-default-size solid $border-default-color;
  padding: $global-spacing;
  margin-top: $global-spacing;

  .meta,
  .bit-nav {
    font-size: 12px;
    margin: 0;
    padding: 5px;
  }

  .bit-nav {
    li {
      margin-right: 15px;
    }
  }

  .bit-support-actions {
    text-align: right;

    button:last-child {
      margin-left: $global-spacing;
    }
  }
}

[class*="fa"] {
  min-width: 17px;
  text-align: center;
}

a {
  color: nth($bluejeans, 2);
}
.heading {
  font-size: 10px;
  display: block;
  margin: 0;
  color: #999;
  margin-bottom: 15px;
}

.bit-nav-main {
  padding: 0;
  margin-bottom: 15px;
}

.bit-nav-main li {
  flex: 1;
  display: flex;
  margin-right: 15px;position: relative;
}

.bit-nav-main li a {
  flex: 1;
}

.bit-nav-element-addon a {

position: absolute;
top: 2px;
right: -12px;
  background-color: #fff;
  border-radius: 250px;
  padding: 0 3px 2px;
}

.bit-nav-element-addon i {
  font-size: 10px;
}

