/*
 *= require font-awesome
 *= require labelauty
 *= require magicsuggest
*/

$grapefruit:  #ED5565, #DA4453; // red
$bittersweet: #FC6E51, #E9573F; // orange
$sunflower:   #FFCE54, #FCBB42; // yellow
$grass:       #A0D468, #8CC152; // green
$mint:        #48CFAD, #37BC9B; // green
$aqua:        #4FC1E9, #3BAFDA; // blue
$bluejeans:   #5D9CEC, #4A89DC; // blue
$lavender:    #AC92EC, #967ADC; // purple
$pinkrose:    #EC87C0, #D770AD; // pink
$lightgray:   #F5F7FA, #E6E9ED; // white/gray
$mediumgray:  #CCD1D9, #AAB2BD; // gray
$darkgray:    #656D78, #434A54; // black

$global-spacing: 15px;

$border-default-size: 1px;
$border-default-color: nth($mediumgray, 1);

@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,200,300);
@import "bootstrap";

@import "grid/*";
@import "style/*";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway";
}
[class*="fa"] {
  min-width: 17px;
  text-align: center;
}

a {
  color: nth($bluejeans, 2);
}
