/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
*/


$bmk-primary-white: #ffffff;
$bmk-primary-grey: #efefef;
$bmk-secondary-gray: #999999;

$brand-primary: blue;

body {
  background: $bmk-primary-grey;
}

.content {
  background: $bmk-primary-white;

  &-head {
    padding: 30px 0;

    &-title {
      padding-top: 4px;
      padding-bottom: 5px;

      h4 {
        display: inline-block;
        margin: 0 !important;
        vertical-align: middle;
        font-weight: bold;
      }

      a {
        border-width: 2px;
        border-radius: 250px;
        // padding: 2px 5px 1px;
        // display: inline-block;
        // font-size: 10px;
        // vertical-align: middle;
        margin-left: 15px;
      }
    }

    &-actions {

      .btn {
        background: $bmk-primary-grey;
        color: $bmk-primary-grey + 010100;
      }
    }
  }
}

.user {
  border-bottom: 1px solid $bmk-primary-grey;
  padding: 21.5px 0;

  &-initals {
    border: 1px solid red;
    border-radius: 250px;
    padding: 12px 13px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
  }

  &-identity {
    display: inline-block;
  }
}

// .info .user {
//   padding: 15px 0;
//   border-bottom: 1px solid red;
//   margin-bottom: 10px;
// }

// [class*="actions"] {
//   padding: 0 !important;
//   margin: 0;
//   vertical-align: middle;
// }

// .user-actions .btn {
//   border: 1px solid red;
// }

// .stats {
//   text-align: left;
// }

// .stats span {
//   font-weight: bold;
//   font-size: 18px;
// }

// .stats p {
//   font-size: 11px;
// }

// h3 {
//   margin: 0 !important;
// }

@import "mixins/mixins";

@import "partials/bootstrap_override";
@import "partials/bookmarkit";
@import "bootstrap/bootstrap.css";

.btn-bmk-empty {
  border: none;
  padding: 5px 0;
}

